* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 36, 46);

    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: white;
}